/* Estilo da lista de guias */
.container_i{Font-family: 'Open Sans', sans-serif;}

.boxGUIAS ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
}

.boxGUIAS li {
	border-top: 3px solid #931126;
	flex: 1;
	text-align: center;
	cursor: pointer;
	align-items: center;
	background: #ce1836;
	color: #191919;
	padding: 5px;
	border-radius: 5px;
	font-size: 13px;
	
}

.boxGUIAS li:hover {
	background-color: #961329;
}

.boxGUIAS .active {
	border-top: 3px solid #2d100a;
	background-color: #961329;
	color: white;
}
      
 /* Estilo do conteúdo da guia selecionada */
#conteudo-selecionado {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
}

 .guia-opcoes label {
	margin-right: 10px;
}

.boxGUIAS li:not(:last-child) {
	margin-right: 3px;
}
